<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <nav>
        <a href="/musicspace">return to playlist</a>
    </nav>
    <h1>suggest a new song.</h1>

    <form action="/musicspace" method="POST">
        <b>song <title class=""></title></b><br>
        <input type="text" name="songTitle"><br><br>
        <b>artist.</b><br>
        <input type="text" name="artist"><br><br>
        <b>genre.</b><br>
        <input type="text" name="genre"><br><br>
        <b>link to song.</b><br>
        <input type="text" name="spotifyLink"><br><br>
        <input button="button" type="submit" value="suggest away..." class="Btn">
    </form>
</body>
</html>