<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <nav>
        <a href="/musicspace">back to playlist.</a>
    </nav>
    <h1><%= songs.songTitle %></h1>
    <p>artist. <%= songs.artist %></p>
    <p>genre. <%= songs.genre %></p>

</body>
</html>